<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.unipassau.im.ontoint.views.category"
            name="%ontoint.views.category">
      </category>
      <view
            category="de.unipassau.im.ontoint.views.category"
            class="de.unipassau.im.ontoint.views.ClassHierarchyView"
            icon="icons/hierarchy.gif"
            id="de.unipassau.im.ontoint.views.classHierarchy"
            name="%ontoint.views.classHierarchy.name"
            restorable="true">
      </view>
      <view
            category="de.unipassau.im.ontoint.views.category"
            class="de.unipassau.im.ontoint.views.OntologyManagerView"
            icon="icons/view.gif"
            id="de.unipassau.im.ontoint.views.ontologyManager"
            name="%ontoint.views.manageOntologies.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.unipassau.im.ontoint.importWizards.category"
            name="%ontoint.importWizards.category">
      </category>
      <wizard
            category="de.unipassau.im.ontoint.importWizards.category"
            class="de.unipassau.im.ontoint.importWizards.OntologyImportWizard"
            icon="icons/import.gif"
            id="de.unipassau.im.ontoint.importWizards.ontologyImportWizard"
            name="%ontoint.importWizards.ontologyImport.name">
         <description>
            %ontoint.importWizards.ontologyImport.description
         </description>
      </wizard>
   </extension>
  
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.unipassau.im.ontoint.handlers.OpenImportWizardHandler"
            commandId="de.unipassau.im.ontoint.commands.openImportWizard">
      </handler>
      <handler
            class="de.unipassau.im.ontoint.handlers.RemoveOntologyHandler"
            commandId="de.unipassau.im.ontoint.commands.removeOntology">
      </handler>
      <handler
            class="de.unipassau.im.ontoint.handlers.ShowClassHierarchyHandler"
            commandId="de.unipassau.im.ontoint.commands.showClassHierarchy">
      </handler>
   </extension> <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.unipassau.im.ontoint.commands.category"
            name="%ontoint.commands.category">
      </category>
   <command
            categoryId="de.unipassau.im.ontoint.commands.category"
            description="%ontoint.commands.openImportWizard.description"
            id="de.unipassau.im.ontoint.commands.openImportWizard"
            name="%ontoint.commands.openImportWizard.name">
      </command>
   <command
         categoryId="de.unipassau.im.ontoint.commands.category"
         description="%ontoint.commands.removeOntology.description"
         id="de.unipassau.im.ontoint.commands.removeOntology"
         name="%ontoint.commands.removeOntology.name">
   </command>
   <command
         categoryId="de.unipassau.im.ontoint.commands.category"
         description="%ontoint.commands.showClassHierarchy.name"
         id="de.unipassau.im.ontoint.commands.showClassHierarchy"
         name="%ontoint.commands.showClassHierarchy.name">
   </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.unipassau.im.ontoint.views.ontologyManager?after=additions">
         <command
               commandId="de.unipassau.im.ontoint.commands.openImportWizard"
               icon="icons/import.gif"
               id="de.unipassau.im.ontoint.toolbars.manageOntologies.openImportWizard"
               label="%ontoint.commands.openImportWizard.label"
               style="push"
               tooltip="%ontoint.commands.openImportWizard.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.unipassau.im.ontoint.views.ontologyManager?after=additions">
         <command
               commandId="de.unipassau.im.ontoint.commands.removeOntology"
               icon="icons/delete.gif"
               label="%ontoint.commands.removeOntology.label"
               style="push"
               tooltip="%ontoint.commands.removeOntology.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.unipassau.im.ontoint.views.ontologyManager?after=additions">
         <command
               commandId="de.unipassau.im.ontoint.commands.showClassHierarchy"
               icon="icons/hierarchy.gif"
               label="%ontoint.commands.showClassHierarchy.label"
               style="push"
               tooltip="%ontoint.commands.showClassHierarchy.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="de.unipassau.im.ontoint.proposalComputer"
         name="Ontoint Template Proposal"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="false"
            categoryId="de.unipassau.im.ontoint.proposalCategory"
            class="de.unipassau.im.ontoint.proposalComputer.CompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         id="de.unipassau.im.ontoint.proposalCategory"
         name="Ontoint Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/view.gif">
      </proposalCategory>
   </extension>

</plugin>
