<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.unipassau.im.ontoint.views.category"
            name="%ontoint.views.category">
      </category>
      <view
            category="de.unipassau.im.ontoint.views.category"
            class="de.unipassau.im.ontoint.views.ClassHierarchyView"
            icon="icons/hierarchy.gif"
            id="de.unipassau.im.ontoint.views.classHierarchy"
            name="%ontoint.views.classHierarchy.name"
            restorable="true">
      </view>
      <view
            category="de.unipassau.im.ontoint.views.category"
            class="de.unipassau.im.ontoint.views.OntologyManagerView"
            icon="icons/view.gif"
            id="de.unipassau.im.ontoint.views.ontologyManager"
            name="%ontoint.views.manageOntologies.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.unipassau.im.ontoint.importWizards.category"
            name="%ontoint.importWizards.category">
      </category>
      <wizard
            category="de.unipassau.im.ontoint.importWizards.category"
            class="de.unipassau.im.ontoint.importWizards.OntologyImportWizard"
            icon="icons/import.gif"
            id="de.unipassau.im.ontoint.importWizards.ontologyImportWizard"
            name="%ontoint.importWizards.ontologyImport.name">
         <description>
            %ontoint.importWizards.ontologyImport.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.unipassau.im.ontoint.commands.category"
            name="%ontoint.commands.category">
      </category>
      <command
            categoryId="de.unipassau.im.ontoint.commands.category"
            description="%ontoint.commands.openImportWizard.description"
            id="de.unipassau.im.ontoint.commands.openImportWizard"
            name="%ontoint.commands.openImportWizard.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.unipassau.im.ontoint.handlers.OpenImportWizard"
            commandId="de.unipassau.im.ontoint.commands.openImportWizard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.unipassau.im.ontoint.views.ontologyManager?after=additions">
         <command
               commandId="de.unipassau.im.ontoint.commands.openImportWizard"
               icon="icons/import.gif"
               id="de.unipassau.im.ontoint.toolbars.manageOntologies.openImportWizard"
               label="%ontoint.commands.openImportWizard.label"
               style="push"
               tooltip="%ontoint.commands.openImportWizard.tooltip">
         </command>
      </menuContribution>
   </extension>

</plugin>
